@model MediaEncyclopediaInUrdu.Models.Diseases

@{

    Layout = "~/Views/Shared/DiseaseLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body style="background-color:#ffffff">

    <!-- ====================================================
    header section -->
    <section class="abc" id="menu">
         <!-- end of header area -->
        <div class="header-backup">
        </div>
        <!-- middle Portion -->
        <br><div class="container">
            <div class="col-md-6 col-sm-6">
                <embed style="height:300px; width:500px;" src="~/img/ptania2.swf">
            </div>
            <div class="col-md-6 col-sm-6">
                <table border="1">
                    <tr>
                        <th style="text-align:center; color: #ffff; background-color: #00B4CC ;"><h2>فہرست</h2></th></th>
                    </tr>
                    <tr>
                        <td style="text-align:center; background-color:#ffff;"><a href="#adddisease">بيماری کا اندراج</a></td>
                    </tr>
                    <tr>
                        <td style="text-align:center; background-color:#ffff;"><a href="#viewdisease">بيمارياں ملاحظہ کريں</a></td>
                    </tr>
                    <tr>
                        <td style="text-align:center; background-color:#ffff;"><a href="#deletedisease">بيماری کا اخراج</a></td>
                    </tr>
                    <tr>
                        <td style="text-align:center; background-color:#ffff;"><a href="#updatedisease">بيماری کی درستگی</a></td>
                    </tr>
                </table>
            </div>
    </section>
    <!------------------- Add disease ------------------------>
    <section class="service text-center" id="adddisease">
        <div class="container">
            <div class="header-backup"></div>
            <div class="row">
                <div class="team-heading text-center">
                    <div class="col-md-12 col-sm-6"></div>
                    <h2>بيماری کی معلومات کااندراج</h2><br>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <hr />


                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    

                    
                    <div class="form-group">
                        <div class="col-md-8" style="float:right; color:#ffffff;">
                            @Html.LabelFor(model => model.SymptomId, htmlAttributes: new { @class = "control-label col-md-2"})
                        </div>
                        <div class="col-md-10">
                            @{
                                var id = Request.Url.Segments[1];
                                int i = 0;
                            }
                            <select name="SymptomName" id="cmb" size="1" style="width:1000px; font-size:large; float:right">
                                @foreach (var name in ViewBag.SName)
                                {
                                    <option value="@ViewBag.SIds[i]">@name</option>
                                    i++;
                                }

                            </select>
                            @Html.ValidationMessageFor(model => model.SymptomId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4" style="float:right; color:#ffffff;">
                            @Html.LabelFor(Model => Model.Name, new { style = "margin-right:-310px" })
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @style = "text-align:right; ", @placeholder = "نام کا اندراج کريں" })
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-4" style="float:right; color:#ffffff;">
                            @Html.LabelFor(Model => Model.Detail, new { style = "margin-right:-297px" })
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Detail, new { @class = "form-control", @style = "text-align:right; ", @placeholder = "نام کا اندراج کريں" })
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-4" style="float:right; color:#ffffff;">
                            @Html.LabelFor(Model => Model.SymptomName, new { style = "margin-right:-297px" })
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.SymptomName, new { @class = "form-control", @style = "text-align:right; ", @placeholder = "نام کا اندراج کريں" })
                        </div>

                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"><input style="background-color:#00B4CC ; color: #ffff; font-size:30px" value="مینو پر جائیں" type="submit"><br><br></div>
                    <div class="col-md-4"></div>

                </div>
            }
            </div>
        
