@model MediaEncyclopediaInUrdu.Models.Treatment

@{
    ViewBag.Title = "AddTreatment";
    Layout = "~/Views/Shared/TreatmentLayout.cshtml";
}

<h2>AddTreatment</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Treatment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DiseaseID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    var id = Request.Url.Segments[1];
                    int i = 0;
                }
                <select name="Name" id="cmb">
                    @foreach (var name in ViewBag.DName)
                    {
                        <option value="@ViewBag.Ids[i]">@name</option>
                        i++;
                    }
                </select>
                @Html.ValidationMessageFor(model => model.DiseaseID, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    var Id = Request.Url.Segments[1];
                    int j = 0;
                }
                <select name="Type" id="cmb">
                    @foreach (var type in ViewBag.CName)
                    {
                        <option value="@ViewBag.CIds[j]">@type</option>
                        j++;
                    }
                </select>
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })              
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TreatmentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TreatmentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TreatmentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
