@model MediaEncyclopediaInUrdu.Models.Register
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>بیماریوں کا انسائکوپیڈیا</title>
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='~/text/css'>
    <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='~/text/css'>
    <script src="~/js/modernizr.js"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>


    <body style="background-color:#ffffff;color: #00B4CC;">
        <!--------------- Login ----------------->
        <div class="col-md-3"></div>
        <div class="col-md-6" margin-left:30px style=";border-style:solid;border-color: #00B4CC">
            <font face="Blackadder ITC"><h1 align="center">رجسٹريشن فارم</h1></font>
            <br />
            <form class="form-horizontal" action="/action_page.php">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <hr />


                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-md-1" style="float:right;">
                            @Html.LabelFor(Model => Model.Name)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @style = "text-align:right; ", @placeholder = "نام کا اندراج کريں" })
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-1" style="float:right;">
                            @Html.LabelFor(Model => Model.Address)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @style = "text-align:right; ", @placeholder = "نام کا اندراج کريں" })
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-1" style="float:right;">
                            @Html.LabelFor(Model => Model.Country)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Country, new { @class = "form-control", @style = "text-align:right; ", @placeholder = "نام کا اندراج کريں" })
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-1" style="float:right;">
                            @Html.LabelFor(Model => Model.Email)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "text-align:right; ", @placeholder = "نام کا اندراج کريں" })
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-1" style="float:right;">
                            @Html.LabelFor(Model => Model.Password)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @style = "text-align:right; ", @placeholder = "نام کا اندراج کريں" })
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-1" style="float:right;">
                            @Html.LabelFor(Model => Model.TelephoneNumber)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.TelephoneNumber, new { @class = "form-control", @style = "text-align:right; ", @placeholder = "نام کا اندراج کريں" })
                        </div>

                    </div>


                    <div class="form-group">
                        <div class="col-md-1" style="float:right;">
                            @Html.LabelFor(Model => Model.type)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.type, new { @class = "form-control", @style = "text-align:right; ", @placeholder = "نام کا اندراج کريں" })
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-1" style="float:right;">
                            @Html.LabelFor(Model => Model.LicenseNumber)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.LicenseNumber, new { @class = "form-control", @style = "text-align:right; ", @placeholder = "نام کا اندراج کريں" })
                        </div>

                    </div>

                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-default" value="آئ ڈی بھیجیں" style="background-color:#00B4CC ; text-color: #ffff;" />
                        <br><br>
                    </div>
                    <div class="col-md-4"></div>


                </div>
            </form>
        </div>
    </body>

